---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import PortfolioPlaceholder from '../components/PortfolioPlaceholder.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);

// Create an array with the existing projects plus 2 placeholders with external links
const displayItems = [
  ...projects,
  { 
    isPlaceholder: true, 
    title: "ENS AFRICA Foundation", 
    img: "/assets/ENS Foundation.png",  
    img_alt: "ens", 
    href: "https://ens-foundation.vercel.app/",
    external: true
  },
  { 
    isPlaceholder: true, 
    title: "BJB Solutions", 
    img: "/assets/BJBsolutions.png",  
    img_alt: "BJB Solutions", 
    href: "https://bjb-solutions.vercel.app/",
    external: true
  },
  { 
    isPlaceholder: true, 
    title: "Divine Emporium", 
    img: "/assets/divineemporium.png",  
    img_alt: "Divine", 
    href: "https://divine-beautiy-emporium.vercel.app/",
    external: true
  },
  { 
    isPlaceholder: true, 
    title: "Mokerong Engineering", 
    img: "/assets/mokerong.png",  
    img_alt: "Mokerong", 
    href: "https://mokerong-group.vercel.app/",
    external: true
  },
  { 
    isPlaceholder: true, 
    title: "Leruleng", 
    img: "/assets/leruleng.png",  
    img_alt: "Leruleng", 
    href: "https://leruleng.vercel.app/",
    external: true
  },
  { 
    isPlaceholder: true, 
    title: "BMNS", 
    img: "/assets/bmns.png",  
    img_alt: "BMNS", 
    href: "https://bnms.vercel.app/",
    external: true
  },
  { 
    isPlaceholder: true, 
    title: "Survive The Heat Game", 
    img: "/assets/unity.png",  
    img_alt: "unity game", 
    href: "https://kmngomezulu82gmailcom.itch.io/survive-the-heat",
    external: true
  }
];
---

<BaseLayout
	title="My Work | Khetho Mngomezulu"
	description="Learn about Khetho Mngomezulu's most recent projects"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="My Work"
				tagline="See my most recent projects below to get an idea of my past experience. More available upon request."
				align="start"
			/>
			<Grid variant="offset">
				{
					displayItems.map((item) => (
						<li>
							{item.isPlaceholder ? (
								<PortfolioPlaceholder 
									title={item.title}
									img={item.img}
									img_alt={item.img_alt}
									href={item.href}
									external={item.external}
								/>
							) : (
								<PortfolioPreview project={item} />
							)}
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>